* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  background-color: whitesmoke;
}

header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 60px;
}

.logoContainer {
  height: 100%;
  width: 25%;
  max-width: 100px;
}

.heli {
  background-image: url(https://i.ibb.co/zHLCgNT/helilogo.png);
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

header nav {
  width: 25%;
  max-width: 60px;
  height: 100%;
  display: flex;
  justify-content: center;
  background-image: url(https://i.ibb.co/ryPVJJX/iconmonstr-menu-drop-down-lined-240.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.listaMenu {
    list-style: none;
}

.inactive {
    display:none;
}
