.tituloCatalogo {
    text-align: center;
}

.catalogo {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
  }
  
  .ficha {
    text-align: center;
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 5px;
  }
  
  .ficha img {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }
  
  .ficha h3 {
    margin-top: 10px;
    font-size: 20px;
  }
  